@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 60 9.1% 97.8%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

html {
  scrollbar-gutter: stable;
}

/* View Transitions */
@view-transition {
  navigation: auto;
}
